.wd-30 {
    width: 30px !important;
}
.wd-50 {
    width: 50px !important;
}
.wd-80 {
    width: 80px !important;
}
.wd-90 {
    width: 90px !important;
}
.wd-100 {
    width: 100px !important;
}
.wd-110 {
    width: 110px !important;
}
.wd-120 {
    width: 120px !important;
}
.wd-140 {
    width: 140px !important;
}
.wd-150 {
    width: 150px !important;
}
.wd-160 {
    width: 160px !important;
}
.wd-180 {
    width: 180px !important;
}
.wd-200 {
    width: 200px !important;
}
.wd-250 {
    width: 250px !important;
}
.wd-300 {
    width: 300px !important;
}
.wd-350 {
    width: 350px !important;
}
.wd-400 {
    width: 400px !important;
}
.wd-500 {
    width: 500px !important;
}
.no-padding {
    padding: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.no-border {
    border-radius: 0px !important;
}
.padding-5 {
    padding: 5px !important;
}
.color-white {
    color: white !important;
}
.vertical-baseline {
    vertical-align: baseline !important;
}
.f-8 {
    font-size: 8px;
}
.f-10 {
    font-size: 10px;
}
.f-11 {
    font-size: 11px;
}
.f-12 {
    font-size: 12px;
}
.f-13 {
    font-size: 13px;
}
.f-14 {
    font-size: 14px;
}
.f-15 {
    font-size: 15px;
}
.f-16 {
    font-size: 16px;
}
.f-17 {
    font-size: 17px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-22 {
    font-size: 22px;
}
.f-24 {
    font-size: 24px;
}
.f-bold {
    font-weight: bold;
}
.act-col {
    padding: 8px !important;
    text-align: center;
}
.nav-menu li a {
    padding: 12px 25px;
}
.page-logo {
    padding: 0 15px;
}
.nav-function-fixed:not(.nav-function-top) .page-sidebar .slimScrollDiv {
    height: calc(100%) !important;
}
.nav-title {
    margin-top: 10px;
    margin-bottom: -5px;
}
.info-card {
    height: 6rem;
    padding: 0 1rem;
    background-color: #0000002e;
}
.panel-toolbar {
    display: none;
}
.dataTables_empty {
    color: #56636d;
    font-size: 18px;
}
.disabled-none {
    display: none;
}

#js-nav-menu-wrapper-left-btn,
#js-nav-menu-wrapper-right-btn {
    display: none !important;
}
@media screen and (min-width: 580px) {
    .nav-function-top .page-sidebar .primary-nav {
        margin-left: 163px;
    }
}

.header-function-fixed.nav-function-top .page-header {
    padding-left: 182px;
}
.custom-logo {
    width: auto;
    height: 65px;
    position: absolute;
    margin-top: 75px;
    left: 30px;
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer !important;
}
.search .app-forms {
    padding-left: 10px;
}
.shortcut-menu {
    bottom: 1.5rem;
}
.nav-function-top .page-header {
    background-color: #ff9800;
}
.page-logo-text {
    font-weight: 400 !important;
    font-size: 18px;
}
.search {
    display: none;
}
.dt-icon {
    font-size: 16px;
    -webkit-text-stroke: 3px;
    margin-top: 2px;
}
.dt-icon-success {
    color: #16c60c;
}
.dt-icon-danger {
    color: #ea3816;
}
/* .zoom{   margin: auto; overflow: hidden; position: relative; min-height: 530px; max-height: 530px;  } */
.zoomfix {
    margin: auto;
    overflow: hidden;
    position: relative;
    min-height: 372px;
    max-height: 630px;
}
.modal-backdrop.show {
    opacity: 0.7 !important;
}
.modal-backdrop {
    background-color: #ff9800 !important;
}
.btn-flat {
    border-radius: 0 !important;
}

.t-header {
    min-height: unset !important;
    height: 40px !important;
}
#tpanel-info table tbody td {
    padding: 0.5rem 0.6rem;
}
#tpanel-info table tbody tr td:first-child {
    padding-left: 0.75rem !important;
}
#tpanel-car table tbody td {
    padding: 0.5rem 0.6rem;
}
#tpanel-car table tbody tr td:first-child {
    padding-left: 0.75rem !important;
}
.barcode-img {
    margin-top: 5px;
}
.btn-detail-action .btn {
    padding: 7px 0.75rem;
}
.btn-detail-action .btn .fal {
    font-size: 14px;
}
.btn-video-show {
    padding: 4px 8px !important;
    margin-right: 5px !important;
}

#menu-search button {
    display: none;
}
