#map [type=radio]:checked, #map [type=radio]:not(:checked), #map [type=checkbox]:checked, #map [type=checkbox]:not(:checked) 
{
    position: unset !important;
    left: unset !important;
    opacity: unset !important;
}
[href="https://leafletjs.com"] {
    display: none !important;
}
.leaflet-touch .leaflet-control-layers-toggle {
    width: 31px !important;
    height: 31px !important;
}
.leaflet-retina .leaflet-control-layers-toggle { 
    background-size: 19px 20px !important;
} 
.leaflet-top, .leaflet-bottom { 
    z-index: 999 !important; 
}